{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Profile{% if object %}: {{ object }}{% endif %}{% endblock %}

{% block page_title %}Profile{% if object %}: <a href="{{ object.get_absolute_url }}">{{ object }}</a>{% endif %}{% endblock %}

{% block content %}
<div class="row">

    <!-- main form div -->
    <div class="span6">
      <form action="." method="post" class="form-stacked well">{% csrf_token %}
      {{ form|crispy }}
        <div class="actions">
          <input type="submit" class="btn btn-primary" value="Submit">
        </div>
      </form>
    </div>

  </div>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function(){
        $("#id_first_name").focus();
    });
</script>
{% endblock extrajs %}
