{% extends "_base.html" %}

{% block title %}Profile List{% endblock %}

{% block page_title %}Profile List {% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Joined</th>
                </tr>
            </thead>
            <tbody>
                {% for profile in object_list %}
                    <tr>
                        <td><a href="{{ profile.get_absolute_url }}">{{ profile }}</a></td>
                        <td>{{ profile.created }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
  </div>
{% endblock %}

