Django
coverage
dj-database-url
django-braces
django-cache-machine
django-coverage
django-crispy-forms
django-debug-toolbar
django-extensions
django-floppyforms
django-profiletools
django-registration
django-storages
django-wysiwyg
gunicorn
psycopg2
pylibmc
